<!doctype html>
<html lang="en">
  <head>
    <!-- Tags Meta Requis -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Polices de texte -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Goldman, Roboto  -->
    <link href="https://fonts.googleapis.com/css2?family=Aladin&family=Goldman&family=Gugi&family=Michroma&family=Oswald:wght@200&family=Roboto&display=swap" rel="stylesheet"> 



    <!-- Inclusion Bootstrap CSS et des Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <!-- Inclusion Fichier CSS Custom-->
    <link rel="stylesheet" href="../static/Alerts.css">

    <title>Crypt-O-Watch | Your Crypto Wallet</title>
    <link rel="icon" href="../static/logo.PNG" type="image/icon type">
  </head>
  
  <body id="page_body" class="">

    <!-- Barre de Navigation -->
    <section class="">
      <div>
        <img id="bull_top" class="img-fluid" src="../static/home_slider_2.jpg" class="d-inline" alt="...">
      </div>
    </section>
    <nav id="mainNavbar" class="navbar sticky-top navbar-dark navbar-expand-md py-0  mb-3">
      <div class="container-fluid">
        <a href="/Home" class="navbar-brand" id="Logo">
          <img src="../static/logo.PNG" alt="" width="30" height="30" class="d-inline-block align-text-top mt-1">
          Crypt-0-Watch
        </a>
        <button id="nabbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-lebel="Toggle Navigation" aria-controls="navbarText">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-auto" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a href="/Markets" class="nav-link">Markets</a>
            </li>
            <li class="nav-item">
              <a href="/About" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/Contact" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/Portfolio" class="nav-link">Portfolio</a>
            </li>
            <li class="nav-item">
              <a href="/Alerts" class="nav-link">My Alerts</a>
            </li>
          </ul>
          <span class="navbar-text py-0 mb-2 mb-lg-0">
            <a href="/Profile" class="nav-link">My Profile</a>
          </span >
          <span class="navbar-text py-0 mb-2 mb-lg-0">
            <button class="nav-link" style="background-color: transparent; border-style: none;">Log Out</button>
          </span > 
        </div>
      </div>
    </nav>

    <!-- Contenu Principal -->
    <div id="containerFormSignUp" class="container shadow-lg pb-4 my-4" style="background-color: white;">  
      <header class="row mb-4" id="containerFormSignUpHeader">
        <h2 class="pt-4 text-center mb-0">My Alerts</h2>
        <p id="welcome" class="pt-0 pb-2 mb-4 text-center">Don't miss out!</p>
      </header>
      <div class="content">
        <form id="manage_alerts_acc_form" method="post" action="">
          <input type="hidden" name="unique_id" value="#">
          <input type="hidden" name="action" value="manage_alerts_acc">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Coin</th>
                <th scope="col" class="text-center">Above </th>
                <th scope="col" class="text-center">Below </th>
                <th scope="col" class="text-center">Valid Until </th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" colspan="1">1</th>
                <td colspan="" class="text-center">ADA</td>
                <td colspan="" class="text-center">2.30$</td>
                <td colspan="" class="text-center">1.30$</td>
                <td colspan="" class="text-center">2021-08-29</td>
                <td class="text-end">
                  <a href="#">Delete</a>
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="1">2</th>
                <td colspan="" class="text-center">VET</td>
                <td colspan="" class="text-center">0.30$</td>
                <td colspan="" class="text-center">0.10$</td>
                <td colspan="" class="text-center">2021-08-29</td>
                <td class="text-end">
                  <a href="#">Delete</a>
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="1">3</th>
                <td colspan="" class="text-center">PHB</td>
                <td colspan="" class="text-center">0.50$</td>
                <td colspan="" class="text-center">0.30$</td>
                <td colspan="" class="text-center">2021-08-29</td>
                <td class="text-end">
                  <a href="#">Delete</a>
                </td>
              </tr>
              <tr>
                <td colspan="18" align="middle"><button id="add_alert" type="button" class="btn btn-warning" >Create an Alert</button></td>
                </tr>
            </tbody>
          </table>
        </form>
        
      </div>
    </div>



      <!-- Copyrights -->
      <div class="footer">
        <p id="copyrights" class="p-4 text-center mb-0">©2020-2021 Crypt-O-Watch.com. All rights reserved</p>
      </div>


    
    <!-- JavaScript -->   
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    
       
  </body>
</html>