/* -- Les différentes polices -- */
/*
    font-family: 'Aladin', cursive;

    font-family: 'Goldman', cursive;

    font-family: 'Gugi', cursive;

    font-family: 'Michroma', sans-serif;

    font-family: 'Oswald', sans-serif;

    font-family: 'Roboto', sans-serif;
*/
/* -- La palette couleurs -- */
/* 
#ebebeb
#1D353E
#23404B
#264653
#999999
#3D3D3D
#1f1f1f
#2a9d8f
#e9c46a
#f4a261
#e76f51
*/
/* Background Général */
body {
	background-color: #ebebeb;
	font-family: 'Roboto', sans-serif;
}

/* Logo de la Navbar en haut à gauche */
#mainNavbar {
	background-color: #1f1f1f;
}
#mainNavbar .navbar-brand {
	font-family: 'Goldman', cursive;
	color: #e9c46a;
	font-size: 2em;
}
#mainNavbar .nav-link {
	color: white;
}
#mainNavbar .nav-link:hover {
	color: #e9c46a;
}

#HomeQuoteDown {
	color: #1f1f1f;
	font-family: 'Goldman', cursive;
}
#QuoteBox {
	background-color: transparent;
}
/* SignUpContent */
@media screen and (max-width: 450px) {
	#containerFormSignUp {
		width: 95%;
	}
}
@media screen and (min-width: 768px) {
	#containerFormSignUp {
		width: 70%;
	}
}
@media screen and (min-width: 1024px) {
	#containerFormSignUp {
		width: 50%;
	}
}
#button_signUp {
	background-color: #e2b33c;
	color: #1f1f1f;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

#button_signUp:hover {
	opacity: 0.8;
	color: #ebebeb;
}
#button_alreadyRegister {
	background-color: #e2b33c;
	color: #999999;
	padding: 2px 2px;
	margin: 1px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

#button_alreadyRegister:hover {
	opacity: 0.8;
	color: #e2b33c;
}
#welcome {
	color: #999999;
}
#terms_of_service {
	text-decoration: none;
	color: #e2b33c;
}
#terms_of_service:hover {
	text-decoration: underline;
	color: #e9c46a;
}
#caseAgree:checked {
	background-color: #e9c46a;
}
/* -------------------- Login Page Pop-up ---------------------------*/
#usernameinput,
#pswinput {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #e9c46a;
	box-sizing: border-box;
	background-color: #3d3d3d;
	color: #e2b33c;
}

#button_login {
	background-color: #e2b33c;
	color: #1f1f1f;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

#button_login:hover,
.cancelbtn:hover {
	opacity: 0.8;
	color: #ebebeb;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #e2b33c;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

#container_login_info_bottom,
#container_login_info {
	padding: 16px;
	color: #e9c46a;
	text-decoration: none;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Caché par Defaut */
	position: fixed; /* Position Fixe */
	z-index: 1020; /* À l'avant-plan (valeur de 1020 car la navbar bootstrap est 1020 */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #1f1f1f;
	margin: 5% auto 15% auto; /* 5% du haut, 15% du bas et centré */
	border: 1px solid #e9c46a;
	width: 80%;
}
@media screen and (max-width: 450px) {
	.modal-content {
		width: 80%;
	}
}
@media screen and (max-width: 650px) {
	.modal-content {
		width: 60%;
	}
}
@media screen and (max-width: 768px) {
	.modal-content {
		width: 50%;
	}
}
@media screen and (min-width: 768px) {
	.modal-content {
		width: 40%;
	}
}
@media screen and (max-width: 768px) {
	#popupSignIn {
		width: 100%;
	}
}
@media screen and (min-width: 769px) {
	#popupSignIn {
		width: 60%;
	}
}
@media screen and (min-width: 1025px) {
	#popupSignIn {
		width: 50%;
	}
}

.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #e2b33c;
	font-size: 35px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #e2b33c;
	cursor: pointer;
}
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}
/* -------------------------------------------------------------------------- */

#copyrights {
	color: #e2b33c;
}
